  .testimonials{
    background-color: #f0ece2;
    padding: 5px;
    grid-row: 6;
    text-align: center;
    margin: auto;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    /* border-radius: 20px; */
}
.testimonial{
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    background-color: #fcf8f3;
}
  .testimonials h2{
    margin:0;

  }

  .testimonial div{
    justify-content: center;
    display: flex;
  }
  
  


  .customer{
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .customer img{
    border-radius: 50px;
    max-width: 10%;
    min-width: 10%;
  }