  
  .home-services-section{
    background-color: #f0ece2;
    display: flex;
    flex-direction: column;
    grid-row: 3;
    gap: 10px;
    align-items: center;
  }
  
  .services-title{
    width: 70%;
    /* margin: auto; */
    margin: 10px 0 0;
    text-align: center;
    background-color: #dfd3c3;
  }
  
  .services-list{
    border-radius: 25px;
    padding: 30px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 0 ;
  }
  
  .services-list img{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    border-radius: 25px;
  } 
  
  .home-services-section button{
    width: 16%;
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);

    margin: 0 auto 0;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border-color: transparent;
    width: 100%;
  }

  .home-services-section button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  

.services-list div{
    display: flex;
    flex-direction: column;
    width: 275px;          
    align-items: center;
    background-color: #dfd3c3;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;    }

.services-list div h3{
    width: 70%;
    margin-bottom: 0;
  }

  .left{
    align-self: flex-end;
  }

  .right{
    align-self: flex-start;
  }