.main-services{
    grid-row: 5;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
  }

  .main-services p{
    background-color: #f0ece2;
    padding: 25px;
    border-radius: 10px;
  }
  
  
  .first-service{
    background-color: #c7b198;
    display: flex;
    width: 100%;
    border-bottom: black;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;    
  }
  
  .first-service div:first-child{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 30%;
  }
  
  .first-service div:first-child img{
    width: 100%;
    max-height:max-content;
    border-radius: 30px;
    padding:10px;
    
  }
  
  .first-service div:nth-child(2){
    padding:5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:flex-end;
    text-align: right;
    width: 50%;
    margin: 0;
  }
  
  .second-service{
    background-color: #dfd3c3;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  .second-service div:first-child{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width:30%
  }
  
  .second-service div:first-child img{
    width: 100%;
    max-height:max-content;
    border-radius: 30px;
    padding:10px;
  }
  
  .second-service div:nth-child(2){
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:flex-start;
    text-align: left;
    width: 50%;
    margin: 0;
  }
  
  .third-service{
    background-color: #c7b198;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  

  .third-service div:first-child{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width:30%;
  }
  
  .third-service div:first-child img{
    width: 100%;
    max-height:max-content;
    border-radius: 30px;
    padding:10px;
  }
  
  .third-service div:nth-child(2){
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:flex-end;
    text-align: right;
    width: 50%;
    margin: 0;
  }
  
